version: '3.7'

services:

  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 4321
    ports:
      - "3308:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 5001:8080